@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
*{
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.div-1{
    margin: 100px;
}
div>h1{
    font-weight: 700;
}
div>h2,h4{
    font-weight: 500;
}
.button1{
    padding: 10px;
    width: 200px;
    background-color: var(--strong-cyan);
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 0 .5rem 0.8rem var(--strong-cyan);
}
.button1:active,.button1:focus{
    background-image: none;
    transform: scale(1.1);
}
.button2{
    padding: 10px;
    width: 200px;
    background-color: var(--light-blue);
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 0 .5rem 0.8rem var(--light-blue);
}
.button2:active,.button2:focus{
    background-image: none;
    transform: scale(1.1);
}
.footer{
    background-color: lightgray;
}
.nav-link{
    color: grey;
}
.nav-link:hover{
    color: var(--strong-cyan);
}
.links:hover{
    color: var(--strong-cyan);
}